.box1{
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 10px;
    transform: rotate(45deg);
}

.box2{
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 10px;
    transform: scale(1.5);
}

.box3{
    background-color: green;
    width: 100px;
    height: 100px;
    margin: 10px;
    transform: translateX(40px);
    transform: translateY(20px);
}

.box4{
    background-color: yellow;
    width: 100px;
    height: 100px;
    margin: 10px;
    transform: skew(30deg);
}

.box5{
    background-color: purple;
    width: 100px;
    height: 100px;
    margin: 40px;
    transition: 0.5s linear;
}

.box5:hover{
    transform: scale(1.2);
}

.box6{
    background-color: orange;
    width: 100px;
    height: 100px;
    margin: 40px;
    animation: size 1s infinite;
}

@keyframes size {
    0% {
        width: 200px;
        height: 200px;
    }
    50% {
        width: 300px;
        height: 300px;
    }
    100% {
        width: 400px;
        height: 400px;
    }
}