body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

header {
  position: sticky;
  top: 0.1px;
  background: #E1EDE6;
  padding: 33px 165px 32px 165px;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between; 
}

.bottom{
  background: #E1EDE6;
  display: flex;
  gap: 20px;
}

.burger {
  background-color: #E1EDE6;
  height: 23px;
  z-index: 234532345;
  width: 22px;
  display: none;
  cursor: pointer;
}

.burger span {
  display: block;
  height: 2px;
  width: 20px;
  background: #4C5866;
  margin-top: 5px;
  border-radius: 1px;
  transition: 0.3s;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 58px;
}

.menu li {
  margin: 0;
}

.menu a {
  color: #2C2D35;
  text-decoration: none;
}

.menu-toggle {
  display: none;
}

.hero{
  padding: 0px 165px;
  display: flex;
  gap: 30px;
}

.content{
  width: 540px;
  height: 331px;
  margin: 145px 0px 144px 0px;
}

.content h1{
  color: #2C2D35;
  font-weight: 500;
  font-size: 60px;
  line-height: 66px;
}

.content span{
  color: #598D66;
}

.content p{
  color: #86928B;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.content button{
  width: 255px;
  height: 65px;
  padding: 20px 60px 20px 60px;
  border: 1px solid #598D66;
  color: #598D66;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.48px;
  background: none;
  margin-top: 60px;
}

.products{
  padding: 70px 165px;
  display: block; 
}

.title{
  display: flex;
  gap: 545px;
}

.title h1{
  color: #2C2D35;
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
}

.countryies{
  margin-top: 27px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.countryies button{
  width: 126px;
  height: 43px;
  padding: 10px 20px 10px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.48px;
  border: none;
  border-radius: 20px;
  background-color: #D4E8D9;
  color: #2C2D35;
}

.countryies button:nth-child(1){
  background-color: #376B44;
  color: #F4F6F5;
}

.countryies button:active{
  background-color: #376B44;
  color: #F4F6F5;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card{
  display: block;
  width: 350px;
  height: 730px;
  padding: 20px 20px 30px 20px;
  background-color: #E1EDE6;
}

.card span{
  color: #86928B;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.13px;
}

.card h1{
  color: #2C2D35;
  font-weight: 500;
  font-size: 30px;
  line-height: 35.22px;
}

.card h3{
  font-weight: 500;
  font-size: 18px;
  line-height: 21.13px;
  color: #2C2D35;
}

.card h4{
  font-weight: 500;
  font-size: 24px;
  line-height: 28.18px;
  color:#598D66;
  margin-top: 30px;
}

.card button{
  width: 310px;
  height: 65px;
  padding: 20px 60px 20px 60px;
  border: 1px solid #598D66;
  color: #598D66;
  font-weight: 500;
  font-size: 20px;
  line-height: 23.48px;
  background: none;
  margin-top: 20px;
}



@media (max-width: 320px) {
    header {
        background: #fff;
        padding: 0px;
    }
  
    .burger {
        display: block;
        margin-left: 5px;
    }
  
    nav {
        display: block;
    }
  
    .bottom {
        display: block;
        padding: 21px 0px 21px 19px;
    }
  
    .img {
        position: absolute;
        top: 76px;
        left: 175px;
        /* transition: opacity 0.1s ease-in-out, visibility 0.3s ease-in-out; */
    }
  
    nav img {
        margin: 16px 88px 15px 88px;
    }
  
    .menu {
        display: none;
        flex-direction: column;
        background: #E1EDE6;
        width: 100%;
    }
  
    .menu li {
        margin-top: 20px;     
        width: 100px;
    }
  
    .menu-toggle:checked + .burger + .menu {
        display: flex;
    }

    .menu-toggle:checked + .burger span:nth-child(1) {
        transform: rotate(45deg) translateY(10px);
    }
  
    .menu-toggle:checked + .burger span:nth-child(2) {
        opacity: 0 !important;
    }
  
    .menu-toggle:checked + .burger span:nth-child(3) {
        transform: rotate(-45deg) translateY(-10px);
    }
  
    .menu-toggle:checked + .burger + .menu + .img {
        opacity: 0;
        visibility: hidden;
    }
}

